[Unit]
Description=Pulseaudio Configuration Changer

[Service]
Type=oneshot
ExecStart=/usr/bin/pulseaudio_change_config
RemainAfterExit=True

[Install]
WantedBy=multi-user.target
